body {
    background-color: #263b61;
    font-family: 'Poppins', sans-serif;
    margin: 6px;
}
.main {
    margin: 30px;
}

header{
    display: flex;
    flex-direction: row;
    background-color: grey;
    border: #1a1a1a 5px solid;
    font-family:'Segoe UI';
    border-radius: 6px;
}

.nombresFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: #000000 3px dashed;
    margin: 2%;
    padding-top: 25px;
    font-size: larger;
    font-weight: 550;
}

.Homenav {
    color: black;
    text-decoration: none;
    font-family: "Helvetica";
    font-weight: bolder;
}
.Homenavborrariniciado1 {
    color: rgb(38, 65, 133);
    text-decoration: none;
    font-family: "Helvetica";
    font-weight: bolder;
    border-left-color: #000000;
}
.Homenavborrariniciado2 {
    color: black;
    text-decoration: none;
    font-family: "Helvetica";
    font-weight: bolder;
}

.section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; 
    background-color:#636afa;
    padding: 20px 20px 20px 20px;
    border-radius: 6px;
    margin-top: 15px;
}

.nav{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80vw;
    margin-top: 25px;
    font-size: medium;

}

.sectiondiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; 
    text-align: center;
    background-color: #1a1a1a;
    padding: 20px 20px 5px 20px;
    color: white;
    border-radius: 8px;
}

.caja {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
} 
.liNav{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.producto{
    padding-bottom: 30px;
    justify-content: space-around;
}
.imgB{
    height: 230px;
    width: 250px;
    border-radius: 6px;
}

.botoncarrito {
    padding: 10px;
    background-color: #345375;
    color: #fff;
    border-radius: 20px;
    
}
.botonvermas {
    padding: 10px;
    background-color: #0c1822;
    color: rgb(255, 255, 255);
    border-radius: 20px
}

.login {
    justify-content: space-around; 
    width: 80%;
    font-size: large;
    font-weight: 700;
    background: #8f8080;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 120px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.boton2{
    width: 100px;
    height: 30px;
    font-size: medium;
}
.redireccionlinks {
    display: flex;
    justify-content: space-around;
}

.DR {
    text-align: center;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 25px;
}
.tbfooter {
    text-align: center;
    font-weight: 600;
}

.sectiondiv1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
    background-color: #1a1a1a;
    padding: 20px 20px 30px 20px;
    color: white;
    border-radius: 8px;

}
.productodetalles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imgDetalles {
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 15px;

}
.divdetalles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 160px;
    font-size: x-large;
}

.Botoncomprar {
    background-color: #345375;
    padding: 10px 90px 10px 90px;
    color: #fff;
    border-radius: 20px;
}

@media  (max-width: 500px) {

    .body{
        background-color: #031535;
        margin: 15px;
        
    }

    .logoTB{
        width: 0px;
        height: 0px;
    }
    .login{
        width: 100%;
    }
    .imgDetalles {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 250px;
    }
    .divdetalles{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 0PX;
    }
    .caja{
        margin: 10px;
        padding-top: 15px;
        border-top: #636afa solid 6px;
        border-bottom: #636afa solid 6px;
    } 

    .header{
        display: flex;
        background-color: grey;
        border: #1a1a1a 5px solid;
        font-family: 'Segoe UI';
        border-radius: 6px;
        flex-direction: column;
    }
    .botoncarrito {
        padding: 10px 60px 10px 60px;
    }
    .botonvermas{
        padding: 10px 50px 10px 50px;
    }
    .section {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main{
        border: #683636 dotted 2px;
        padding: 10px;
    }
    .liNav{
        flex-wrap: wrap;
        justify-content: center;
        font-size: small;
    }
    .sectiondiv{
        background-color: #00000068;
    }
    .imgB{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 280px;
    }
}