body {
    background-color: #425c89;
    font-family: 'Poppins', sans-serif;
}
.main {
    margin: 30px;
}

header{
    display: flex;
    flex-direction: row;
    background-color: grey;
    border: #1a1a1a 5px solid;
    font-family:'Segoe UI';
    border-radius: 6px;
}

.nombresFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: #000000 3px dashed;
    margin: 2%;
    padding-top: 25px;
    font-size: larger;
    font-weight: 550;
}

.Homenav {
    color: black;
    text-decoration: none;
    font-family: "Helvetica";
    font-weight: bolder;
}

.section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; 
    background-color:#636afa;
    padding: 20px 20px 5px 20px;
    border-radius: 6px;
}

.nav{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80vw;
    margin-top: 25px;
    font-size: large;

}

.sectiondiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; 
    text-align: center;
    background-color: #1a1a1a;
    padding: 20px 20px 5px 20px;
    color: white;
    border-radius: 8px;
}

.caja {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
} 
.liNav{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.producto{
    padding-bottom: 30px;
    justify-content: space-around;
}
.imgB{
    height: 230px;
    width: 250px;
    border-radius: 6px;
}

.botoncarrito {
    padding: 10px;
    background-color: #345375;
    color: #fff;
    border-radius: 20px;
    
}
.botonvermas {
    padding: 10px;
    background-color: #0c1822;
    color: rgb(255, 255, 255);
    border-radius: 20px
}

.login {
    justify-content: space-around; 
    width: 50%;
    font-size: large;
    font-weight: 700;
    background: #8f8080;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.boton2{
    width: 100px;
    height: 30px;
    font-size: medium;
}
.redireccionlinks {
    display: flex;
    justify-content: space-around;
}

.DR {
    text-align: center;
    font-weight: 600;
}

.sectiondiv1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
    background-color: #1a1a1a;
    padding: 20px 20px 5px 20px;
    color: white;
    border-radius: 8px;
}
.productodetalles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imgdetalles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.divdetalles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


@media  (max-width: 500px) {

    body{
        background-color: #425c89;
        
    }
    .logoTB{
        max-height: 10vh;
        width: 85px;
        justify-content: center;
    }
    header{
        display: flex;
        flex-direction: column;
        background-color: grey;
        height: fit-content;
        width: 450px;
        border-radius: 6px;
    }
    .section {
        display: flex;
        height: fit-content;
        width: fit-content;
    }
    .sectiondiv{
        flex-direction: column;
        height: fit-content;
        width: fit-content;

    }
    .main{
        border: #211d1d dotted 2px;
        padding: 10px;
    }
    
    .header{
        flex-direction: column;
        max-height: 25vh;
    }
    .liNav{
        flex-direction: column;
        font-size: small;
  
    }
    .nav{
        flex-direction: column;
    }
    .imgB{
        max-height: 220px;
        max-width: 180px;
    }


}